<a href="https://colab.research.google.com/github/RiveraLovo/cuaderno-de-programacion/blob/main/Estructuras_de_control.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **EJERCICIO 1**

In [ ]:
def Sueldo(sueldo):
  return sueldo - (sueldo * 0.03 + sueldo * 0.0625)

def Sueldo2(sueldo):
  return (((sueldo - (sueldo * 0.03 + sueldo * 0.0625)) - 472.00) * 0.10) + 17.67

def Sueldo3(sueldo):
  return (((sueldo - (sueldo * 0.03 + sueldo * 0.0625)) - 895.24) * 0.20) + 60.00

def Sueldo4(sueldo):
  return (((sueldo - (sueldo * 0.03 + sueldo * 0.0625)) - 2038.10) * 0.30) + 288.57

In [ ]:
sueldo = float (input("Ingrese un sueldo: "))

In [ ]:
suel = Sueldo(sueldo)

suel2 = Sueldo2(sueldo)

suel3 = Sueldo3(sueldo)

suel4 = Sueldo4(sueldo)

In [ ]:
if sueldo <= 472.00:
  print("Su sueldo es: ", suel)

if sueldo >= 472.01 and sueldo <= 895.24: 
  print("En su sueldo de: ", sueldo, ", el descuento de impuesto de renta es: ", suel2)

if sueldo >= 895.25 and sueldo <= 2038.10: 
  print("En su sueldo de: ", sueldo, ", el descuento de impuesto de renta es: ", suel3)

if sueldo >= 2038.10: 
  print("En su sueldo de: ", sueldo, ", el descuento de impuesto de renta es: ", suel4)

Su sueldo es:  29.947499999999998

## **EJERCICIO 2**

In [ ]:
def cuota(metros):
  return 6

def cuota2(metros):
  return ((metros - 18) * 0.45) + 6

def cuota3(metros):
  return ((metros - 28) * 0.65) + ((28 - 18) * 0.45) + 6

In [ ]:
metros = int(input("Ingrese número de metros: "))

In [ ]:
cuo1 = cuota(metros)

cuo2 = cuota2(metros)

cuo3 = cuota3(metros)

In [ ]:
if metros >=1 and metros <= 18:
  print("En", metros,"metro/os" " Usted tiene que pagar $", cuo1)

if metros >=19 and metros <= 28:
  print("En", metros,"metros" " Usted tiene que pagar $", cuo2)

if metros >=29:
  print("En", metros,"metros" " Usted tiene que pagar $", cuo3)

En 555 metros Usted tiene que pagar $ 353.05

## **EJERCICIO 3**

In [ ]:
print("Ingrese un número: ")
a = int(input())
b = 0
for i in range(1, a+1):
  print(i)
  b=b+i
  print("El valor acumulado es: ", b)

## **EJERCICIO 4**

In [ ]:
etiquetas = [
    0,
    ["Seleccione un moneda", "1. Dolar", "2. Euro", "3. Peso Mexicano", "4. Lempira", "5. Cordoba", "6. Real Brasileño", "7. Rupia India", "8. Won Surcoreano", "9. Yen Japonés", "10. Sol Peruano"],
    ["Seleccione una longitud", "1. Milla", "2. Kilómetro", "3. Metro", "4. Centímetro", "5. Milímetro", "6. Micrómetro", "7. Nanómetro", "8. Yarda", "9. Pie", "10. Pulgada"],
    ["Seleccione una masa", "1. Kilogramo", "2. Hectogramo", "3. Decagram", "4. Gramo", "5. Quilate", "6. Centigramo", "7. Miligramo", "8. Microgramo", "9. Nanogramo", "10. Tonelada"],
    ["Selecione un almacenamiento", "1. GigaByte", "2. Bit", "3. Byte", "4. KiloByte", "5. MegaByte", "6. TeraByte", "7. PetaByte", "8. ExaByte", "9. GigaBit", "10. MegaBit"],
    ["Seleccione un tiempo", "1. Hora", "2. Años", "3. Meses", "4. Semanas", "5. Días", "6. Minutos", "7. Segundos", "8. Milisegundos", "9. Microsegundos", "10. Nanosegundos"],
    ["Seleccione un volumen", "1. Libra", "2. Metro cúbico", "3. Mililitro", "4. Galón imperial", "5. Cuarto imperial", "6. Pinta imperial", "7. Taza imperial", "8. Onza líquida imperial", "9. Pie cúbico", "10. Pulgada cúbica"],
    ["Seleccione una área", "1. Metro cuadrado", "2. Kilómetro cuadrado", "3. Hectárea", "4. Área", "5. Decímetro cuadrado", "6. Centímetro cuadrado", "7. Milímetro cuadrado", "8. Yarda cuadrada", "9. Pie cuadrado", "10. Pulgada cuadrada"]
    ]

valores = [0,
  [0, 1, 1.00, 19.93, 24.49, 35.96, 5.11, 79.88, 1334.94, 136.46, 3.86],
  [0, 1, 1.60934, 1609.34, 160934, 1609344, 1609344000, 1609344000000, 1760, 5280, 63360],
  [0, 1, 10, 100, 1000, 5000, 100000, 1000000, 1000000000, 1000000000000, 0.001],
  [0, 1, 8589934592, 1073741824, 1048576, 1024, 0.001, 0.000000954, 0.000000000931, 8, 8000],
  [0, 1, 0.000114, 0.00137, 0.01, 0.04, 60, 3600, 3600000, 3600000000, 3600000000000],
  [0, 1, 0.001, 1000, 0.219969, 0.879877, 1.75975, 3.51951, 35.1951, 0.0353147, 61.0237],
  [0, 1, 0.000001, 0.0001, 0.01, 100, 10000, 1000000, 1.2, 10.76, 1550]
]

In [ ]:
def convertir(opcion, de, a, cantidad):
  return valores[opcion][a] / valores[opcion][de] * cantidad

In [ ]:
print("** MENU DE CONVERSORES **")
print("1. Monedas")
print("2. Longitud")
print("3. Masa")
print("4. Almacenamiento")
print("5. Tiempo")
print("6. Volumen")
print("7. Área")
opcion = int(input("Opcion: "))

print( etiquetas[opcion] )
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( etiquetas[opcion][de], " en ", etiquetas[opcion][a], " equivale a: ", convertir(opcion, de, a, cantidad) )

## **EJERCICIO 5**

In [ ]:
etique = [
    0,
    ["Seleccione lo que desea convertir", "1. Caja", "2. Unidades"],
    ["Seleccione lo que desea convertir", "1. Saco", "2. Libras"],
    ["Seleccione lo que desea convertir", "1. Fardo", "2. Unidades"]
    ]

valor = [0,
  [0, 1, 25],
  [0, 1, 50],
  [0, 1, 5],
 
]

In [ ]:
def convertir(opcion, de, a, cantidad):
  return valor[opcion][a] / valor[opcion][de] * cantidad

In [ ]:
print("** MENU DE CONVERSORES **")
print("1. Cajas/Unidades")
print("2. Saco/Libras")
print("3. Fardo/Unidades")

opcion = int(input("Opcion: "))

print( etique[opcion] )
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( etique[opcion][de], " en ", etique[opcion][a], " equivale a: ", convertir(opcion, de, a, cantidad) )